/* FOOTER */
footer {
    
    font-size: 1rem;
    display:flex;
    width: 100%;
    height: 65px;
    background: transparent;
    position: fixed;
    color: var(--font-color);
    
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  .m {
    font-size: 0.5rem;
    display: flex;
    
    
    justify-items: center;
    padding: 0px;
    margin: auto;
    color: whitesmoke;
    filter: blur(0.2px);
  }

  .fo1 {
    text-align: center;
    padding: 20px;
    margin: auto;
  }

  .fo2 {
    display: flex;
    width: 100%;
    margin: auto;
    align-items: center;
  }


  

  #facebook {
    text-decoration: none;
    color: transparent;
    -webkit-text-stroke: 0.3px white;
    text-shadow: blue 0px 1px 10px ;
  }
  
  #gmail img{
    background: transparent;
    width: 33px;
      filter: drop-shadow(0px 0px 1px orange);    
    
      transition: all 1s;
  }
  
  #gmail img:hover{
    width: 38px;
    filter: drop-shadow(0px 0px 8px orange);
  }
  

  #linkedin img {
    background: transparent;
    width: 25px;
      filter: drop-shadow(0px 0px 1px rgb(0,119,183));    
    
      transition: all 1s;
  }

  #linkedin img:hover {
    width: 30px;
    filter: drop-shadow(0px 0px 8px rgb(0,119,183));
    
    
  }

  #github img{
      background: transparent;
      width: 25px;
      filter: drop-shadow(0px 0px 1px white);

        transition: all 1s;
  }

  #github img:hover{
    
    width: 30px;
    filter: drop-shadow(0px 0px 8px white);
      
      
   
    }   


  #Copy {
    color: grey;
    transition: color 0.5s;
  }
  
  #Copy:hover {
    color: white;
  }