@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);

@import url(animaciones.css);

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Quattrocento Sans";

  font-weight: lighter;
}

/* Paleta de Colores */
:root {
  --font-color:rgb(241, 245, 255) ;
  --back-color:rgb(54,71,91);
}

body {
  width: 100vw;
  height: 100vh;
  padding-top: 65px;
  padding-bottom: 65px;

  
  background:black;
  background-position: 0px 0px;  
  
  
  animation: back 4.2s ease forwards;
  
  
}


/*
::-webkit-scrollbar {
  display:none;
}
*/

div > span {
  padding: 0;
      margin: 0;
}

/* CABECERA */
.loading {
  transform: translateY(-65px);
  overflow: inherit;
  display: flex;
  position: fixed;
  z-index: 99999;
  width: 100%;
  height: 65px;
  margin: auto;

  background: url(../img/png/Rayo4.webp) bottom no-repeat black;

  
  
  transition: opacity 4s;
  transition: visibility 4s;
  animation: h 3s 0s alternate-reverse ease-in-out;
}



header {
  position: relative;
  font-size: 1rem;
  color: var(--font-color);
  margin: auto;
  display: flex;
  width: 100%;
  height: 65px;
  background: transparent;
  /*
    transform: translateX(-100px) ;
    */
  animation: header 3.5s alternate-reverse cubic-bezier(.71,.11,.43,1.1);
  transition: margin 2s;

}

header div {
  flex: content;
  justify-content: center ;

  flex-wrap: nowrap;
}

#title {
  
  background: linear-gradient(45deg,orange,skyblue);

  -webkit-text-fill-color: transparent ;
  -webkit-background-clip: text;
}

/* BODY */
  main {
    
    
    
    color: var(--font-color);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 100%;
    padding: 5% 9%;
    
    text-align: center;
    align-items: center;
    justify-content: center ;
  }

  .nav-menu li {
    list-style: none;
    display: block;
  }

  .nav-menu a {
    text-decoration: none;
    list-style: none;
    color: white;
  }

    .info {
      display: grid;
      
      width: 50%;
      
      
    }

    .micro {
      display: block;
      width: 50%;
      display: flex;
      background: transparent;
      
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      animation: micro 3.5s infinite linear;
    }

    .a_m {
      display: block;
      background: black;
      border-radius: 50%;
      filter: contrast(0.8);
      
    }

    #micro {
      padding: 20px;
      display: block;
      mix-blend-mode:difference;
      width: 100px;
      filter: contrast(0.5);
      background: transparent;
      

      transition: filter 1.5s ease;
      
      transition: width 1s;
    }

    #micro:hover {
      filter: contrast(0.1);
      background: transparent;
      width: 120px;
    }

    #texto {
      display: block;
      margin: 20px;
    }


    textarea::-webkit-scrollbar {
      width: 5px;
      background: transparent;
  
    }

    textarea::-webkit-scrollbar-thumb{
      background: white;
      border-radius: 10px;
    }

  

/* FOOTER */
  footer {
    
    font-size: 1rem;
    display:flex;
    width: 100%;
    height: 65px;
    background: transparent;
    position: fixed;
    color: var(--font-color);
    
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  .m {
    font-size: 0.5rem;
    display: flex;
    
    
    justify-items: center;
    padding: 0px;
    margin: auto;
    color: whitesmoke;
    filter: blur(0.2px);
  }

  .fo1 {
    text-align: center;
    padding: 20px;
    margin: auto;
  }

  .fo2 {
    display: flex;
    width: 100%;
    margin: auto;
    align-items: center;
  }

.Logo {
  width: 137px;
  text-align: center;
  padding: 0px 0px 0px 45px;;
  margin: auto;
}

#│ {
  transform: rotate(180deg);
  position: sticky;
  display: flex;
  width: 2px;
  font-size: 15px;
  text-align: center;
  padding: 0px;
  margin: auto;
  color: whitesmoke;
  filter: blur(0.2px);
  /*
  animation: rotar 4s infinite linear ease-in-out reverse;
  */
}

.Des {
  display: flex;
  width: 10px;
  
  text-align: center;
  /*
  padding: 0px 45px 0px 0px;
  */
  color: whitesmoke;
  margin: auto;

  animation: opacity-text 5s 2s infinite;
}


#Copy {
  color: grey;
  transition: color 0.5s;
}

#Copy:hover {
  color: white;
}


#facebook {
  text-decoration: none;
  color: transparent;
  -webkit-text-stroke: 0.3px white;
  text-shadow: blue 0px 1px 10px ;
}

#gmail {
  text-decoration: none;
  color: transparent;
  -webkit-text-stroke: 0.3px white;
  text-shadow: orangered 0px 1px 10px ;
}

#linkedin {
  text-decoration: none;
  color: transparent;
  -webkit-text-stroke: 0.3px white;
  text-shadow: skyblue 0px 1px 10px ;
}

.S:nth-child(1) {
  animation: blur-text 3s 2s infinite alternate;
}

.S:nth-child(2) {
  animation: blur-text 3s 2.2s infinite alternate;
}

.S:nth-child(3) {
  animation: blur-text 3s 2.4s infinite alternate;
}

.S:nth-child(4) {
  animation: blur-text 3s 2.6s infinite alternate;
}

.S:nth-child(5) {
  animation: blur-text 3s 2.8s infinite alternate;
}

.S:nth-child(6) {
  animation: blur-text 3s 3s infinite alternate;
}

.S:nth-child(7) {
  animation: blur-text 3s 3.2s infinite alternate;
}
